<!-- <canvas class="two-thirds-column offset-by-three" id="game" width="620" height="400"></canvas> -->

<div id="game" class="offset-by-three">
  <div id="turns">Turn: <span class="turn"></span></div>
  <div id="messageHolder">
    <p class="message"></p>
  </div>
  <button id="start">Start</button>

</div>