<!-- <canvas class="two-thirds-column offset-by-three" id="game" width="620" height="400"></canvas> -->

<div id="game" class="offset-by-three">

  <div class="box">
    <p>This is your life:</p>
    <div id="circumstances"></div>
  </div>

</div>