<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>chooselove</title>
	<meta name="description" content="chooselove is a game that exposes a view of the world through its mechanics, and through a selectively limited control interface. The choices the player makes will expose to the player a new way of thinking...or not.">
	<meta name="author" content="David Stavis">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Custom Styles
	================================================== -->
  <link rel="stylesheet" href="/css/gamewindow.css">
  <link rel="stylesheet" href="/css/application.css">


  <!-- JS
	================================================== -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Libraries -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.js"></script>
  
  <script src="/js/game_server.js"></script>
  <script src="/js/game_view.js"></script>
  <script src="/js/circumstance.js"></script>
  <script src="/js/game.js"></script>
  <script src="/js/application.js"></script>

</head>

<body>
	<div class="container">
		<div id="header" class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">chooselove</h1>
		</div>
  		<%= yield %>
	</div>
</body>
</html>

<script type="text/x-handlebars-template" id="_box">
  <div class="box">
    <p>This is your life:</p>
    <div id="circumstances"></div>
  </div>
</script>

<script type="text/x-handlebars-template" id="_circumstance">
  <span class="circumstance">{{description}}</span>
</script>